*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 105px;
  /*background-color:red;*/

}

.header>h2{
  padding:20px 20px;
  text-align:center;

}

.contents{
/*width: 100%;*/
/*height: 50px;*/
/*background-color:orange;*/
border-top:1px solid #a9a9a9;
border-bottom:1px solid #a9a9a9;


}
.contents li{
  display: inline;
  padding:15px 15px 20px 20px;


}

.contents ul{
  text-align:center;
}
.main{
  width: 800px;
  height: 600px;
  background-color: green;
  margin:50px 50px;
  display: flex;
  flex-wrap: wrap;
}

.green-1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}
.yellow-1{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.bule-1{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.green-2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}
.yellow-2{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.bule-2{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}


.green-3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
  display: flex;
  flex-wrap: wrap;
}
.yellow-3{
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.bule-3{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
/*  display: flex;*/
/*  flex-wrap: wrap;*/
}


.green-4{
  width: 200px;
  height: 200px;
  background-color: #93ffad;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}
.yellow-4{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.bule-4{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.footer{
  width: 100%;
  height: 120px;
  background-color:dimgray;
}

.footer p{
  color: #f3ffd8;
  text-align:center;
}